@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-neutral-50 dark:bg-neutral-950 text-neutral-900 dark:text-white;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    @apply opacity-50 cursor-pointer;
    filter: invert(0.5);
  }

  .dark input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.7);
  }
}
